# Dossier bin avec les .class
bin/

# Fichiers/dossiers de configuration spécifiques à Eclipse
.metadata/
.classpath
build.fxbuild
.settings

# MacOS
.DS_Store

# Modelio
projectInfo.html

# Fichiers de sauvegardes (sérialisation et CSV)
sauvegardeDonneesQuiz.ser
donneesImportees.csv