/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pseudo {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.titre {
	-fx-text-fill: white;
	-fx-font-size: 52px;
	-fx-font-weight: normal;
}
.titre-gras {
	-fx-font-weight: 900;
	-fx-font-size: 64px;
}

.conteneur-boutons {
	-fx-spacing: 10px;  /* FIXME: faire fonctionner le spacing, qui ne se met que sur SceneBuilder */
}

.conteneurHbox {
	-fx-alignment: top-center;
}