.hbox-nombre-questions {
	-fx-spacing: 50px;
}

.label-facile {
	-fx-text-fill: #8AFF53;
}

.label-moyen {
	-fx-text-fill: #FF9B53;
}

.label-difficile {
	-fx-text-fill: #FF5353;
}

.choix-categories {
	-fx-background: transparent;
	-fx-background-color: #272C58;
	-fx-background-radius: 20px;
	
	-fx-padding: 10px;
}

VBox.partie-droite {
	-fx-spacing: 10px;
}