.resultat-valeur {
	-fx-font-size: 50px;
	-fx-font-weight: bold;
}

.resultat-label {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

.pourcentage {
	-fx-text-fill: white;
}

.questions-reussites {
	-fx-text-fill: #8AFF53;
}

.questions-ratees {
	-fx-text-fill: #FF5353;
}

.message {
	-fx-fill: white;
	-fx-font-size: 20px;
	-fx-text-alignment: center;
}